html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 720px) {
    main {
        width: 80%;
    }
}

@media only screen and (min-width: 480px) {
    main {
        width: 90%;
    }
}

body {
    display: flex;
    min-width: min-content;
    flex-direction: column;
}

a {
    color: #4191db;
    text-decoration: none;
}

nav {
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    color: inherit;
    text-decoration: none;

    padding: 0.25em 0.50em;
    border: 1px solid black;
    border-radius: 0.25em;
}

nav a:hover {
    background-color: #eee;
}

main {
    flex: 1;
    margin: 0 auto;
}

.banner {
    font-size: xx-large;
    font-weight: bolder;
}

.center-text {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;

    margin: 1em 0;
    border: 1px solid #eee;
    border-radius: 0.25em;
}

.card > :nth-child(1) {
    margin: 0;
    padding: 0.25em;
    border-bottom: 1px solid #eee;
}

.card > :nth-child(2) {
    margin: 0.25em;
}

pre {
    padding: 0.20em;
    background-color: #eee;
    border: 1px solid black;
    border-radius: 0.50em;
}

section {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}